<p>Before you retell the story, please answer the following short question:</p>

<p>The Walcheren Campaign was an unsuccessful British expedition to the
    Netherlands in 1809 intended to open another front in the Austrian Empire's
    struggle with France during the War of the Fifth Coalition. Around 40,000
    soldiers, 15,000 horses together with field artillery and two siege trains
    crossed the North Sea and landed at Walcheren on 30 July.  The primary
    aim of the campaign was to destroy the French fleet thought to be in
    Flushing whilst providing a diversion for the hard-pressed Austrians.
</p>

<p>
    Which country conducted the Walcheren Campaign, and what was its aim?
</p>

<form>
    <input ng-click="wf.distractorAnswer = 'A'; wf.dt(wf); stage = 6" type="radio"
           name="dt">France, to attack the Austrian ground forces<br/>
    <input ng-click="wf.distractorAnswer = 'B'; wf.dt(wf); stage = 6" type="radio"
           name="dt">Britain, to destroy the French naval fleet<br/>
    <input ng-click="wf.distractorAnswer = 'C'; wf.dt(wf); stage = 6" type="radio"
           name="dt">Austria, to attack the French naval fleet<br/>
    <input ng-click="wf.distractorAnswer = 'D'; wf.dt(wf); stage = 6" type="radio"
           name="dt">Britain, to destroy Dutch ground forces<br/>
</form>
