<p>Before you retell the story, please answer the following short question:</p>

<p>"The American paddlefish is one of the largest freshwater fish in North America. Closely
    related to the sturgeon, it is one of only two extant taxa in the paddlefish family
    (the other being the Chinese paddlefish). The rostrum and cranium of American
    paddlefish are covered with tens of thousands of sensory receptors for locating
    swarms of zooplankton, their primary food source. American paddlefish are native
    to the Mississippi River Basin and once moved freely under the relatively natural,
    unaltered conditions that existed prior to the early 1900s. Their numbers have declined
    dramatically primarily because of overfishing, habitat destruction, and pollution.
    They are currently found in only twenty-two U.S. states, and their range has been
    reduced to the Mississippi and Missouri river tributaries and Mobile Bay drainage
    basin.”  (Wikipedia, on the American paddlefish)
</p>

<p>
    Based on the passage above, what is the purpose of the sensory receptors on the cranium and
    rostrum of the American paddlefish?
</p>

<form>
    <input ng-click="wf.distractorAnswer = 'A'; wf.dt(wf); stage = 6" type="radio"
           name="dt">To find food<br/>
    <input ng-click="wf.distractorAnswer = 'B'; wf.dt(wf); stage = 6" type="radio"
           name="dt">To find other paddlefish<br/>
    <input ng-click="wf.distractorAnswer = 'C'; wf.dt(wf); stage = 6" type="radio"
           name="dt">To navigate rivers<br/>
    <input ng-click="wf.distractorAnswer = 'D'; wf.dt(wf); stage = 6" type="radio"
           name="dt">None of the above<br/>
</form>
