<p>Before you retell the story, please answer the following short question:</p>

<p>"The Colorado River is the principal river of the Southwestern United States and northwest
    Mexico.  Known for its dramatic scenery and its whitewater, the Colorado carves numerous
    gorges, including the Grand Canyon in northern Arizona. For 8,000 years, the Colorado
    Basin was only sparsely populated by Native Americans, though some of their ancient
    civilizations employed advanced irrigation techniques. Even after becoming part of the
    U.S. in the 1800s, the Colorado River country remained extremely remote until John Wesley
    Powell's 1869 river-running expedition, which began to open up the river for future
    development. Since the completion of Hoover Dam in 1935, the Colorado has been tamed by
    an extensive system of dams and canals, providing for irrigation, cities, and hydropower.
    Today the Colorado supports 40 million people in seven U.S. and two Mexican states; with
    every drop of its water allocated, it no longer reaches the sea except in years of heavy
    runoff.”  (Wikipedia, on the Colorado River)
</p>

<p>
    Based on the passage above, which of the following are associated with the Colorado River?
</p>

<form>
    <input ng-click="wf.distractorAnswer = 'A'; wf.dt(wf); stage = 6" type="radio"
           name="dt">John Wesley Powell<br/>
    <input ng-click="wf.distractorAnswer = 'B'; wf.dt(wf); stage = 6" type="radio"
           name="dt">The Grand Canyon<br/>
    <input ng-click="wf.distractorAnswer = 'C'; wf.dt(wf); stage = 6" type="radio"
           name="dt">The Hoover Dam<br/>
    <input ng-click="wf.distractorAnswer = 'D'; wf.dt(wf); stage = 6" type="radio"
           name="dt">All of the Above<br/>
</form>
